.mercury-panel {
  padding: 0;
}

.hide-element {
  display: none;
}

.mercury-main-panel {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.mercury-left-panel {
  background-color: rgb(248 249 250);
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden auto;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
  border-left: 1px solid #eee;
}

/* Hide output prompt in sidebar */
.mercury-left-panel .jp-OutputArea-prompt,
.mercury-left-panel .jp-OutputArea-promptOverlay {
  display: none;
}

.mercury-right-panel {
  width: 70%;
  overflow-y: auto;
}

.widget-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widget-text input {
  width: 100%;
  box-sizing: border-box; /* ensures padding and border are included in width */
  padding: 8px;
  margin-top: 4px;
}

.mercury-split-panel > .lm-SplitPanel-handle {
  background: red;
  width: 5px;  /* For horizontal splits */
  cursor: ew-resize;
}