.mercury-panel {
  padding: 0;
}

.hide-element {
  display: none;
}

.mercury-main-panel {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.mercury-sidebar-toggle {
  position: absolute;
  z-index: 100; 
  background: #222;
  color: #fff;
  border: none;
  
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0.7;
  box-shadow: 1px 1px 6px #0002;
  transition: left 0.2s, opacity 0.2s;

  width: 25px;
  height: 30px;
  
  border-radius: 10px 0px 0px 10px !important;
}

.mercury-sidebar-collapse {
  right: -2px;
  top: 10px;
}

.mercury-sidebar-expand {
  left: 0;
  top: 10px;
  background: #0d6efd;
  color: #fff;
  border-radius: 0px 10px 10px 0px !important;
  box-shadow: 1px 1px 6px #0004;
}



.mercury-left-panel {
  background-color: rgb(248 249 250);
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden auto;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
  border-left: 1px solid #eee;
  min-width: 250px;
}

/* Hide output prompt in sidebar */
.mercury-left-panel .jp-OutputArea-prompt,
.mercury-left-panel .jp-OutputArea-promptOverlay {
  display: none;
}

.mercury-right-bottom-panel .jp-OutputArea-prompt,
.mercury-right-bottom-panel .jp-OutputArea-promptOverlay {
  display: none;
}

/* needed for markdown */
.mercury-right-top-panel .jp-InputPrompt,
.mercury-right-top-panel .jp-InputCollapser {
  display: none;
}

.mercury-right-top-panel .jp-OutputArea-prompt,
.mercury-right-top-panel .jp-OutputArea-promptOverlay {
  display: none;
}



.mercury-right-bottom-panel, 
.mercury-right-top-panel {
  overflow-y: auto;
}

.widget-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.widget-text input {
  width: 100%;
  box-sizing: border-box; /* ensures padding and border are included in width */
  padding: 8px;
  margin-top: 4px;
}

.mercury-main-panel > .lm-SplitPanel-handle {
  background: lightgrey;
  width: 0px !important; 
  cursor: ew-resize;
}


.mercury-panel-with-margin {
  /* max-width: 1280px; */
  max-width: 1024px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}